<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>net.eduardooliveira.options-serve</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/python3</string>
    <string>-m</string>
    <string>http.server</string>
    <string>4173</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/eduardooliveira/projects/options-dashboard/web/dist</string>
  <key>KeepAlive</key><true/>
  <key>RunAtLoad</key><true/>
  <key>StandardErrorPath</key><string>/Users/eduardooliveira/projects/options-dashboard/serve.err.log</string>
</dict>
</plist>
